{
    "prefix": "?",
    "activityType": "WATCHING",
    "activityName": "Anime all day...",
    "status": "available",
    "credentials": {
        "token": "your_token_goes_here"
    },
    "ownerID": "123456789",
    "adminIDs": "987654321",
    "translation": "en",
    "timeshift": "1",
    "polite": true,
    "messages_day": "hello;morning",
    "messages_night": "gn;gn&hf",
    "polite_hello": "Greetings;Hi;Howdy;Bonjour;Buenas noches;Buenos dias;Good day;Good morning;Hey;Hi-ya;How are you;How goes it;Howdy-do;Shalom;What's happening;What's up;Salutation;<*random high five*>;Peekaboo;What's up homegirl;yoo-hoo;What's new;<*smile of recognition*;Ahoy;Spitting on the floor while looking at",
    "polite_night": "Good night to you too;GN",
    "exceptions": "http;bola"
}
